In [5]:
import pandas as pd
# If the file is in the same directory
df = pd.read_csv('../data/tokenized_messages.csv')

# If itâ€™s in a different directory, provide the relative or full path
# df = pd.read_csv('path/to/ner_sample.csv')
# Display first 5 rows
df.head(1000)

,channel,date,views,text,tokens
0,ZemenExpress,2025-06-18 06:01:10+00:00,1995,ğŸ’¥ğŸ’¥...................................ğŸ’¥ğŸ’¥\n\nğŸ“ŒIm...,"['Imitation', 'Volcano', 'Humidifier', 'with',..."
1,ZemenExpress,2025-06-16 12:21:00+00:00,3086,ğŸ’¥ğŸ’¥...................................ğŸ’¥ğŸ’¥\n\nğŸ“Œ B...,"['Baby', 'Carrier', 'á‰ áˆáˆˆáŒ‰á‰µ', 'áŠ á‰…áŒ£áŒ«', 'áˆáŒ…á‹áŠ•', '..."
2,ZemenExpress,2025-06-16 05:11:57+00:00,2612,ğŸ’¥ğŸ’¥...................................ğŸ’¥ğŸ’¥\n\nğŸ“ŒSm...,"['Smart', 'Usb', 'Ultrasonic', 'Car', 'And', '..."
3,ZemenExpress,2025-06-16 05:11:26+00:00,2397,ğŸ’¥ğŸ’¥...................................ğŸ’¥ğŸ’¥\n\nğŸ“ŒSm...,"['Smart', 'Usb', 'Ultrasonic', 'Car', 'And', '..."
4,ZemenExpress,2025-06-16 05:09:03+00:00,2592,ğŸ’¥ğŸ’¥...................................ğŸ’¥ğŸ’¥\n\nğŸ“Œ**...,"['Baby', 'Head', 'Helmet', 'Cotton', 'Walk', '..."
...,...,...,...,...,...
995,sinayelj,2025-05-27 16:48:06+00:00,4926,"Kids Potty Training Seat, Foldable Toilet Seat...","['Kids', 'Potty', 'Training', 'Seat', 'Foldabl..."
996,sinayelj,2025-05-27 16:19:42+00:00,4659,LUKY BABY \n\nSoftest blanket for your baby\n\...,"['LUKY', 'BABY', 'Softest', 'blanket', 'for', ..."
997,sinayelj,2025-05-27 16:16:31+00:00,4714,4 in 1 foldable baby bathtub with a thermomete...,"['4', 'in', '1', 'foldable', 'baby', 'bathtub'..."
998,sinayelj,2025-05-26 09:08:06+00:00,6369,2 in 1 multi-function rocking chair safety pla...,"['2', 'in', '1', 'multi', 'function', 'rocking..."
999,sinayelj,2025-05-24 17:13:26+00:00,5156,áŠ­á‰¡áˆ«áŠ• á‹°áˆá‰ áŠá‰»á‰½áŠ• áŠ¥áˆá‹µ áŒˆáˆ­áŒ‚ áŠ¢áˆá”áˆªá‹«áˆ áŠ áˆáá‹ á•áˆ‹á‹› áŒáˆ«á‹‰áŠ•á‹µ áˆ‹á‹­ ...,"['áŠ­á‰¡áˆ«áŠ•', 'á‹°áˆá‰ áŠá‰»á‰½áŠ•', 'áŠ¥áˆá‹µ', 'áŒˆáˆ­áŒ‚', 'áŠ¢áˆá”áˆªá‹«áˆ', 'áŠ ..."